<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/main.css" />
    <script src="../static/loadUsers.js"></script>
    <title>Ejemplo</title>
  </head>
  <body>
    <input type="text" class="input__filter" id="input__filter" />
    <section id="root"></section>
  </body>
</html>
